PORT=5000
NODE_ENV=development

DATABASE_URL="postgresql://neondb_owner:npg_qiz96MYjgmuL@ep-fancy-moon-aiar5ies-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

BETTER_AUTH_SECRET=THqIaiUumphdjTFaPFFrTC5BWy1Q1wkL
BETTER_AUTH_URL=http://localhost:5000 

# JWT Configuration
ACCESS_TOKEN_SECRET=your_access_token_secret
ACCESS_TOKEN_EXPIRES_IN=1d
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRES_IN=7d

# rogz iflp oera vesv

# email Configuration
EMAIL_SENDER_SMTP_USER=
EMAIL_SENDER_SMTP_PASS=
EMAIL_SENDER_SMTP_HOST=
EMAIL_SENDER_SMTP_PORT=
EMAIL_SENDER_SMTP_FROM=